<configuration packagingData="true">
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyyMMdd HH:mm:ss.SSS}){magenta} %clr([%thread]){blue} %clr(%-5level){} %clr([%logger{0}:%line]){cyan} : %msg %n"/>

    <springProfile name="local">
        <include resource="appender/moneymong-console-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE_APPENDER"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <include resource="appender/moneymong-console-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE_APPENDER"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <include resource="appender/moneymong-console-appender.xml"/>
        <include resource="appender/moneymong-file-appender.xml"/>
        <include resource="appender/moneymong-error-file-appender.xml"/>

        <logger name="org.springframework" level="INFO" additivity="false">
            <appender-ref ref="FILE_APPENDER"/>
        </logger>

        <root level="WARN">
            <appender-ref ref="ERROR_FILE_APPENDER"/>
        </root>
    </springProfile>
</configuration>
